*.o
*~ 
*.pro.user
*.dsc
*.tar.gz
*.changes
*.so
*.log
*.substvars
*.deb
*.debhelper
moc_*
ui_*
qrc_*
QtDrumkit-build-*
Makefile
ABLD.BAT
*.mk
bld.inf
*.loc
*.rss
*.sis
*.mmp
*.pkg
.make.cacheQtDrumkit/build
build-QtDrumkit-Desktop_Qt_5_9_3_GCC_64bit-Debug
QtDrumkit/build
